<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add a comment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-textarea style="height: 150px" label="Text" labelPlacement="floating" [counter]="true" maxlength="255"></ion-textarea>
</ion-content>
<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
