<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add a comment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-textarea [(ngModel)]="text" style="height: 150px" label="Text" labelPlacement="floating" [counter]="true" maxlength="255"></ion-textarea>
</ion-content>

<ion-content *ngIf=" pictureToAdd.webviewPath !== ''">
  <img [src]=pictureToAdd.webviewPath>
</ion-content>

<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

  <ion-toolbar>
    <ion-button color="secondary" (click)="postComment()">Post comment</ion-button>
  </ion-toolbar>
