
<ion-header *ngIf="loading; else Elseblock" [translucent]="true">
  <ion-toolbar>
    <ion-title>"Not Loaded Yet"</ion-title>
  </ion-toolbar>
</ion-header>
<ng-template #Elseblock>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>{{itemData.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    {{itemData.description}}

    <ion-item *ngIf="media.length>0" class="footer">
      <div class="slider-container">
        <ion-card-header> MEDIA </ion-card-header>
        <div class="slider" [style.transform]="'translateX(' + (-currentSlide * 100) + '%)'">
          <div *ngFor="let image of media">
            <img [src]=image.path alt="Slider Image">
          </div>
        </div>
        <ion-button (click)="nextSlide()">Next</ion-button>

      </div>


    </ion-item>

  </ion-content>
</ng-template>
