.button{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.searchResult{
  float: top;
  width: 90%;
  height: 200px;
}

.halfWidth{
  float: left;
  width: 50%;
}

.picture{
  width: 40%;
}
