<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button color="secondary" (click)="gotoAddComment()">Add a comment</ion-button>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-list >
    <ion-item *ngFor="let entry of entries">
      <ion-card class="searchResult">
        <ion-card-content [ngClass]="{'halfWidth': (entry.mediaPath !== '')}">
          {{entry.description}}
        </ion-card-content>
        <br>
        <ion-img *ngIf="entry.mediaPath !== ''" class="picture halfWidth" [src]=entry.mediaPath></ion-img>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="getEntries($event)"> <ion-infinite-scroll-content> </ion-infinite-scroll-content>  </ion-infinite-scroll>
</ion-content>
